################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EduHome/EduHome/Controllers/BlogController.cs
